{% import 'OroUIBundle::macros.html.twig' as UI %}
{% import 'OroCRMMailChimpBundle::macros.html.twig' as ui %}

<div class="row-fluid row-fluid-divider form-horizontal">
    <div class="responsive-cell">
        {% if conversion is not null %}
            {% set stats = get_abandonedcart_related_statistic(conversion) %}
            {% for campaign in conversion.campaigns %}
                <div class="responsive-block">
                    <strong>{{ campaign.title }}</strong>
                    {{ ui.renderAttributeWithTooltip(
                        'orocrm.mailchimp.emailcampaign.emailsSent.label',
                        campaign.emailsSent|oro_format_decimal,
                        'orocrm.mailchimp.emailcampaign.emailsSent.tooltip'
                    ) }}
                    {{ ui.renderAttributeWithTooltip(
                        'orocrm.mailchimp.emailcampaign.opens.label',
                        campaign.opens|oro_format_decimal,
                        'orocrm.mailchimp.emailcampaign.opens.tooltip')
                    }}
                    {{ ui.renderAttributeWithTooltip(
                        'orocrm.mailchimp.emailcampaign.clicks.label',
                        campaign.clicks|oro_format_decimal,
                        'orocrm.mailchimp.emailcampaign.clicks.tooltip')
                    }}
                </div>
            {% endfor %}
            <div class="responsive-block">
                <strong>Totals:</strong>
                {{ UI.renderHtmlProperty('Orders', stats.qty) }}
                {{ UI.renderHtmlProperty('Total Amount', stats.total~'$') }}
            </div>
        {% endif %}
    </div>
</div>
